<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kzvdar42.deliveryoperatorapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

    <!-- TODO: Delete tools:ignore="GoogleAppIndexingWarning" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.OrderInfoActivity" />
        <activity android:name=".activity.NavigationActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.Launcher">

        </activity>
        <activity android:name=".activity.EmptyActivity" />
        <activity android:name=".activity.LocalizationActivity" />
    </application>

</manifest>